// Primary palette
$ocean: #356ae6;
$ocean-120: #1b54d9;
$ocean-80: #5884ea;
$ocean-60: #c1d1f7;
$ocean-40: #e3ebfc;
$ocean-30: #edf3fe;
$ocean-20: #fafbff;

$slate: #4e5468;
$slate-120: #1f2129;
$slate-80: #5f667e;
$slate-60: #9298ad;
$slate-40: #ced3e0;
$slate-30: #edf0f7;
$slate-20: #f7f9ff;

$mint: #19cca3;
$mint-120: #139879;
$mint-80: #1bddb1;
$mint-60: #6ae6c9;
$mint-40: #b6f2e4;
$mint-20: #ebfffa;

$black: #000;
$white: #fff;
$transparent: rgba(255, 255, 255, 0);

$title: 'Poppins', sans-serif;
$body: 'IBM Plex Sans', sans-serif;